.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.grid {
  height: 500px;
  width: 500px;
  border: 5px solid #000000;
  margin: 0 auto;
  line-height: 0;
  cursor: pointer;
  overflow: hidden;
}

.dead {
  background-color: #ffffff;
}

.alive {
  background-color: #0000ff;
}
